:root {
    --main-color: #2b9e72;
    --secondary-color: #eeeeee;
    --hover-button-color: #268f67;
    --main-text-color: #282728;
    --input-background: white;
    --footer-background: #d2d2d2;
}

.dark-theme {
    --secondary-color: #000000;
    --main-background-side-page:#22272e;
    --main-text-color: white;
    --input-background: #212121;
    --footer-background: #000000;
}

/* .dark-theme .theme-switcher__img::after {
    background-image: url('./img/sun.svg');
    background-size: 90%;
} */

textarea {
    color: initial;
}

a {
    text-decoration: none;
    color: white;
}

.menu li {
    color: initial;
}

li a, a h1 {
    text-decoration: none;
    color: initial;
}

body {
    color: var(--main-text-color);
    background-color: var(--main-background-side-page);
}

.argumentcontainer {
    border: 2px solid var(--main-color);
    background-color: initial;
}

.container {
    border: 2px solid var(--main-color);
    background-color: initial;
}

.linkbar ul li a {
    color: initial;
}

.menu ul li span {
    color: initial;
}

.theme-switcher {
  width: 100px;
  height: 34px;
  border-radius: 100px;
  border: 1px solid #7e8083;
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: transparent;
  padding: 4px 14px 4px 5px;
  min-width: initial;
  color: white;
  user-select: none;
  cursor: pointer;

  @media (max-width: 650px) {
    display: none;
  }
}

.theme-switcher__img{
  flex-shrink: 0;
  width: 24px;
  aspect-ratio: 1/1;
  background-color: var(--main-color);
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switcher__text {
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.moon-icon {
  width: 60%;
  background-image: url('./img/moon.svg');
}

.sun-icon {
  width: 70%;
  background-image: url('./img/sun.svg');
}