/* colors */

:root {
  --main-color: #2b9e72;
  --secondary-color: #eeeeee;
  --hover-button-color: #268f67;
  --main-text-color: #282728;
  --input-background: white;
  --footer-background: #d2d2d2;
}

/* color theme styles */

.dark-theme {
  --secondary-color: #000000;
  --main-background-side-page:#22272e;
  --main-text-color: white;
  --input-background: #212121;
  --footer-background: #000000;

  .theme-switcher__img::after {
    background-image: url('./img/sun.svg');
    background-size: 90%;
  }

  .combobox,
  input {
    color: white;
  }

 @media (hover: hover) {
    .button--bold:hover,
    .link-button--bold:hover{
      background-color: rgba(255, 255, 255, 0.1);
    } 
  }

  .gallery, .gallery_missing{
    a {
      color: var(--main-text-color);
    }
  }
}

.lk-button--bold,
.button--bold,
.link-button--bold {
  color: white;
  border-color: white;

  &::before {
    filter: none;
  }

  @media (hover: hover) {
    &:hover {
      color: white;
    }
  }
}

.linkbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.push-right{
  margin-left: auto;
}

/* global styles */

html {
  box-sizing: border-box;
  font-size: 16px;
}

.html-scrollbar-light{
  scrollbar-color: initial;
}

.html-scrollbar-dark{
  scrollbar-color: #686868 #424242;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--main-text-color);
  background-color: var(--main-background-side-page);
}

.argumentcontainer {
    border: 2px solid var(--main-color);
    background-color: initial;
}

.container {
    border: 2px solid var(--main-color);
    background-color: initial;
}

h1, h2, h4, h5, h6, ul, ol, a {
  margin: 0;
  padding: 0;
}

a.lk-button{
  color: white;
  text-decoration: none;

  // copied from mixin button
  @media (hover: hover) {
    &:hover {
      background-color: var(--hover-button-color);
      border-color: var(--hover-button-color);
    }
  }
  //

  &:link, &:visited{
    color: white;
  }
}

// components

@mixin flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin component-size {
  max-width: 600px;
  width: 100%;
}

@mixin component-m-p {
  margin: 0 0 10px 0;
  padding: 5px 10px;
}

@mixin component-border {
  border: 2px solid var(--main-color);
  border-radius: 4px;
}

@mixin component-input {
  @include component-size;
  @include component-m-p;
  @include component-border;
}

@mixin button-text{
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition-duration: 0.25s;

  @media (hover: hover) {
    &:hover {
      background-color: var(--hover-button-color);
      border-color: var(--hover-button-color);
    }
  }
}

@mixin button {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  @include button-text;
}

@mixin button-bold {
  background-color: transparent;
  border: 1px solid  var(--main-color);
  color: var(--main-color);

  @media (hover: hover) {
    &:hover {
      background-color: transparent;
      color: var(--hover-button-color);
    }
  }

}

@mixin link {
  color: var(--main-color);
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      color: var(--hover-button-color);
    }
  }
}

.button--bold {
  @include button-bold;
}

.link-button {
  @include button;
  min-width: 150px;
  width: max-content;
  text-align: center;
  padding: 6px 0;
  font-weight: 500;
  text-decoration: none;
}

.link-button--bold{
  @include button-bold;
  min-width: 150px;
  width: max-content;
  text-align: center;
  padding: 6px 0;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.25s;
}

// table {
//   @include component-size;
//   @include component-m-p;
//   text-align: center;
//   td, th {
//     @include component-border;
//     padding: 5px;
//   }
//   td > button {
//     margin: 0;
//   }
// }

// p {
//   @include component-size;
//   @include component-m-p;
//   text-align: center;
// }

.input-base,
.combobox{
  @include component-input;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: var(--input-background);
  font-size: 16px;

  &-web{
    max-width: initial;
    margin-bottom: 0;
  }

  &::placeholder {
    font-size: 16px;
    color: #838383;
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
  }
}

.combobox {
  font-weight: 600;
  font-size: 16px;
  // todo: make custom arrow
  padding-left: 5px;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  cursor: pointer;
}

// hints

span[data-descr] {
  position: relative;
  text-decoration: underline;
  cursor: help;

  &:hover::after {
    @include component-input;
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 200px;
    background-color: var(--main-color);
    padding: 12px;
    z-index: 1;
    text-align: center;
  }
}

// Buttons

.lk-button {
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 9px 14px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 0;
  overflow: hidden;

  &::before {
    content: '';
    display: inline-flex;
    width: 22px;
    height: 22px;
    background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20510.9%20510.9%22%20style%3D%22enable-background%3Anew%200%200%20510.9%20510.9%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A29%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Ccircle%20class%3D%22st0%22%20cx%3D%22255.5%22%20cy%3D%22175.2%22%20r%3D%2280.3%22%2F%3E%3Ccircle%20class%3D%22st0%22%20cx%3D%22255.5%22%20cy%3D%22255.5%22%20r%3D%22240.8%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M409.7%2C440.5c-17.1-69.3-79.6-120.7-154.2-120.7c-74.6%2C0-137.1%2C51.4-154.2%2C120.7%22%2F%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    flex-shrink: 0;
  }
}

.lk-button--bold {
  background-color: transparent;
  border: 1px solid  var(--main-color);
  color: var(--main-color);

  &::before {
    filter: brightness(0) saturate(100%) invert(52%) sepia(34%) saturate(761%) hue-rotate(105deg) brightness(92%) contrast(91%);
  }

  @media (hover: hover) {
    &:hover {
      background-color: transparent;
      color: var(--hover-button-color);
    }
  }
}

.theme-switcher {
  width: 100px;
  height: 34px;
  border-radius: 100px;
  border: 1px solid #7e8083;
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: transparent;
  padding: 4px 14px 4px 5px;
  min-width: initial;
  color: white;
  user-select: none;
  cursor: pointer;

  @media (max-width: 650px) {
    display: none;
  }

  &__img {
    flex-shrink: 0;
    width: 24px;
    aspect-ratio: 1/1;
    background-color: var(--main-color);
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    text-transform: none;
    color: var(--main-text-color);
  }

  .moon-icon {
    width: 60%;
    background-image: url('./img/moon.svg');
  }

  .sun-icon {
    width: 70%;
    background-image: url('./img/sun.svg');
  }
}


/* mobile menu */

.mobile-menu-item {
  display: none;
}

.mobile-menu-opened {

  .mobile-link {
    display: block;
  }

  .header__logo {
    z-index: 1000;

    .logo__text {
      color: white;
    }

    img {
      filter: brightness(0) saturate(100%) invert(96%) sepia(95%) saturate(2%) hue-rotate(178deg) brightness(105%) contrast(100%);
    }
  }

  .active {
    background-color: #13714D;
  }
}

// checkbox
.checkbox-container {
  max-width: 600px;
  position: relative;
  padding: 3.5px 0 3.5px 35px;
  margin: 10px 5px 10px 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    @include component-border;
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    top: 2px;
    background-color: var(--input-background);
    border-radius: 4px;
    padding: 0;
    margin: 0;

    &:after {
      content: "";
      position: absolute;
      display: none;
      transform: rotate(45deg);
      left: 6.5px;
      top: 3.5px;
      width: 6px;
      height: 9px;
      border: solid white;
      border-top-width: medium;
      border-right-width: medium;
      border-bottom-width: medium;
      border-left-width: medium;
      border-width: 0 2px 2px 0;
    }
  }

  input:checked ~ .checkmark {
    background-color: var(--main-color);
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
}

li:has(.checkbox-container) { 
  .checkbox-container{
    display: table-cell
  }

} 

select {
  width: max-content;
  margin: 15px 15px 15px 0;
}

select option {
  max-width: 600;
  font-size: 16px;
  padding: 10px 20px;
}

.linkbar ul li.right {
  display: flex;
  .theme-switcher{
    margin-bottom: 10px;
  }
  div {
    align-self: center;
  }
}

a {
  @include link;
}

.linkbar ul li a {
  @include link;
}

.menu {
  .thumbnail {
    color: var(--main-text-color);
    a {
      @include link;
    }
  }
}

td {
  .combobox, .input-base{
    margin: auto;
  }
}